<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="xamarinios10" />
</packages>